*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    height: 100%;
}


button{
    height: 50px;
}

.button-config{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background: #fff;
    line-height: 3px;
    border-radius: 40px;
    margin: 10px;
    padding: 20px;
    /* height: 50%; */
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #0E305D -2px -2px 0px 2px, #1957A8 0px 0px 0px 4px, #3781E1 0px 0px 2px 7px;
    transition: all 0.2s;
    justify-self: self-end;
                
}

.button-config:hover{
    box-shadow: #3781E1 -2px -2px 0px 2px, #1957A8 0px 0px 0px 4px, #0E305D 0px 0px 2px 7px;
    transform: scale(1.01);
}
.general-container{
    
    overflow: auto;
    background: linear-gradient(180deg, #f0f0f0 20%, #59708e 50%, #0e305d 70%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 13% 87%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "superior-bar"
    "content-container";

}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.superior-bar{

    padding-left: 16px;
    background: rgb(240, 240, 240);
    /* overflow: hidden; */
    border-bottom: solid #0e305d 5px;
    /* position: fixed;  */
    top: 0; 
    grid-area: 1 / 1 / 2 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.content-container{

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
    grid-row-gap: 0px;
    grid-area: 2 / 1 / 3 / 2;
}

.uploading-area{

    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

.result-area{

    font-size: 30px;    
    grid-area: 1 / 2 / 3 / 3;

}

.option-area{

    display: flex;
    grid-area: 2 / 1 / 3 / 2;
    justify-content: center;
}

#user-text{
    justify-self: center;
    width: 80%;
    height: 60%;
    padding: 10px;
    resize: none;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 0.2);
    border-style: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 150%; */
    text-align: center;
}

#user-text::placeholder{
    color: black;
    opacity: 60%;
}


#txt-file{
    visibility: hidden;
}

#logo1,#logo2,#logo3,#logo4{
    height: 100%;
}

@media screen and (max-width: 480px) {
    #inner {
      width: calc(100% - 80px);
    }
  } 