*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.general-container{
    display: grid;
    background: #18c724;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 13% 87%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "superior-bar"
    "content-container";

}

.superior-bar{

    padding-left: 16px;
    background: red;
    overflow: hidden;
    /* position: fixed;  */
    top: 0; 
    grid-area: 1 / 1 / 2 / 2;
    

}

.content-container{

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
    grid-row-gap: 0px;
    grid-area: 2 / 1 / 3 / 2;
}

.uploading-area{

    background: blue;
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;

}

.result-area{

    background: yellow;
    grid-area: 1 / 2 / 3 / 3;

}

.option-area{

    background: purple;
    grid-area: 2 / 1 / 3 / 2;

}

@media screen and (max-width: 480px) {
    #inner {
      width: calc(100% - 80px);
    }
  } 